@model DocNuget.Models.Package
@{ ViewBag.Title = Model.Id; }

<div class="page-header">
    <h1>@Model.Title <small><code>@Model.Version</code></small></h1>
</div>

<p>@Model.Summary</p>

<h2>Assemblies</h2>
<ul>
  @foreach (var assembly in @Model.Assemblies) {
    <li>
      <samp>@Html.ActionLink(@assembly.Name, "Show", "Assembly", new { package = @Model.Id, version = @Model.Version, assembly = @assembly.Name })</samp>
      @foreach (var framework in @assembly.Frameworks) {
        <small><code>@Html.ActionLink(@framework, "Show", "Assembly", new { package = @Model.Id, version = @Model.Version, assembly = @assembly.Name, framework = @framework })</code></small>
      }
    </li>
  }
</ul>

<h2>Versions</h2>
<ul>
  @foreach (var version in @Model.Versions) {
    <li>
      @Html.ActionLink(@version, "Show", "Package", new { package = @Model.Id, version = @version })
    </li>
  }
</ul>
