<div class="page-header">
  <h4><small>package</small> {{> package/link Package=Package }}</h4>
  <h3 style="margin-top: 0">
    <small>assembly</small>
    {{ Assembly.Name }}
    {{# if Assembly.Framework }}
      <small><code>{{ Assembly.Framework }}</code></small>
    {{/ if }}
  </h3>
</div>

<h4>Classes</h4>
<ul style="list-style: none">
  <li>{{> namespace/tree Package=Package Assembly=Assembly Namespace=Assembly.RootNamespace }}</li>
</ul>

{{# if Frameworks }}
  <h4>Other Frameworks</h4>
  <ul>
    {{# each Frameworks as |Framework| }}
      <li>
        <small><code><a href="/packages/{{ ../Package.Id }}/{{ ../Package.Version }}/assemblies/{{ ../Assembly.Name }}/{{ Assembly.Framework }}">{{ Assembly.Framework }}</a></code></small>
      </li>
    {{/ each }}
  </ul>
{{/ if }}
